/* STATUS SYTLE */

/* Add these styles to your CSS file */
.status-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
  }
  
  .status-pending {
    background-color: orange;
    color: white;
  }
  .status-approved {
    background-color: green;
    color: white;
    width: 200px
  }
  .chan{
    background-color: red;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  